In [4]:
x = 5
y = 7

j = x*y

In [5]:
print(j)

35

In [6]:
name = 'Nnenna'  #string

age = 27

In [7]:
print(age)

27

# Intro to Python

In [8]:
name = 'Timothy'
name2 = 'timothy'

In [9]:
name == name2

False

In [ ]:
# Variables
# Variable types
# Operators
# How to write comments

# Python Expressions

In [ ]:
Scenario1
# Timothy if my friend. He is 30 years old and earns $2000

In [ ]:
# TAssk: convert the scenario to code in python

In [12]:
name = "Timothy"
age = 30
income = 2000

In [13]:
name

'Timothy'

In [14]:
print(name)

Timothy

In [15]:
print(age)

30

In [19]:
print(Income)

NameError: name 'Income' is not defined

In [17]:
30 * 2000

60000

In [18]:
age * income

60000

In [22]:
name3  = 'Besi`'

In [23]:
print(name3)

Besi`

In [ ]:
# james is a teacher in St. Joseph College. 
#He teaches math, phy and chem. He is 45 years old and currently been teaching for 20 yesrs

Represent the information using variables

In [ ]:
teacherName = "james"
college = "St. Joseph"
subject1 = 'math'
subject2 = 'phy'
subject3 = 'chem'
teacherAge = 45
experience = 20

In [ ]:
# Rules for Creating variables

1. Keep the variable name short and meaningful. It should suggets the value it holds
2. Observe a consistent naming convention
- Camel case # the first word inthe name is all small case and the first letter of each succeding word is capitaliozed
- Snake case # all words in the name are small letters seperated by an underscore

3. Always assign values to a variable when craeted

In [ ]:
myname

In [ ]:
myName

In [ ]:
my_name

In [ ]:
tName = "james"
colge = "St. Joseph"
subj1 = 'math'
subj2 = 'phy'
subj3 = 'chem'
tAge = 45
expr = 20

In [ ]:
# Exercise:

Agatha is the second child in a household of 6 kids. She is the first daughter and attends the All Girls High School in her d
district. Every dy she comes to school with a lunchbox containing 10 toffies, 2 muffins, 3 oranges and 2 eggs.
She owes her friend Simi the sum of $15 and has promisted to settle it with 5 toffies,  a muffin and an egg.

represent these in code using only variables

In [ ]:
# Comments

# Single line commenets   STARTS WITH A #

# Multiple line comments   STARTS AND ENDS WITH """  """

In [ ]:
# EXAMPLE OF SINGLE LINE COMMENT

x  = 7
y = 9
# we next multiply the variables
j = x*y # computing the product of x and y

In [27]:
 # Example of mulple line comments

studAge = 30

grade = 'A-'

"""
Grades are computed usingt he following scale
A : 80 to 100
B:  70 to 80
C: 60 to 70
F: below 60
"""

studClass = 'SSS1'

grdMonth = 'July 2024'

In [28]:
text = """
Grades are computed using the following scale
A : 80 to 100
B:  70 to 80
C: 60 to 70
F: below 60
"""

In [29]:
print(text)

Grades are computed usingt he following scale
A : 80 to 100
B:  70 to 80
C: 60 to 70
F: below 60

In [ ]:
# Variable types

int
float
string
tuple
set
list
dictionary

In [30]:
# Numerics

age = 45

In [31]:
# check the variable type that age is

type(age)

int

In [32]:
income = 9876.98

In [33]:
type(income)

float

In [34]:
myName = 'Korede'

In [35]:
type(myName)

str

In [ ]:
# Type Casting

This allows us to convert one data type to another

In [37]:
income = 688.90
type(income)

float

In [38]:
# casting income to an integer

income2 = int(income)
type(income2)

int

In [39]:
income2

688

In [40]:
# a number can be expressed as a string

height = "7.78"

In [41]:
type(height)

str

In [42]:
height2 = float(height)

In [43]:
height2

7.78

In [44]:
type(height2)

float

# Intro Example

## into Example

In [45]:
xname = 'Immaculate'

In [46]:
xname

'Immaculate'

In [47]:
xname = 'Francis'

In [48]:
xname

'Francis'

# Operators

In [ ]:
+   Addition
- subtraction
* multiplication
/ Division
> Greater Than
< Less than
>= Greater than or Equal To
<= Less than or Equal to

or   Or Operator
and AND Operator

== Equivalent Operator

% Modulus Operator
// Floor Operator

Boolean (True/False)

in operator (membership)

In [ ]:
Scenario: James operates a car dealership selling mid-income level cars to a student community. 
    He has 3 employees earning the same income
    Each day he sells 3 cars at an average price of 3500 per car.
His bank intererst charges is 5% of each sale. if there are 25 selling days in a month, 
compute his monthly income and annual income, given the following:

    Rent is 1500 per month
    wages is 2000 per employee
    utilities 1250 per month

If total monthly profit after all deduction is greater than 10,000, 
James would like distribute a bonus of 5000 to his staff such that each person gets a whole number value. 
Compute the remainder

In [10]:
numEmps = 3
salePrice = 3500
bankInt = 0.05
numDays = 25
numDSales = 3
rent = 1500
wages = 2000
util = 1250
tgtProft = 10000
bonus = 5000
numMonths = 12

#TASK
# 1. monthly income 
# 2. annual income
# 3. monthly Profit
# 4. Annual Profit
# 5. Bonus per employee
# 6. Remainder from Bonus distribution

In [41]:
# Compute Total costs per month

# Assumpotion: James sells 3 cars per day


# computing Sales

tSalesM = salePrice * numDSales * numDays # example of multiplication
print('total dollar revenue per month is: ', tSalesM)

# computing annual revenue
annualRev = tSalesM * numMonths # multiplication
print('total annual dollar revenue is: ', annualRev)

#compute  Expenses

totWage = numEmps * wages  # computing total monthly salries
print('total monthly wages paid is: ', totWage)

totMonthInt = tSalesM * bankInt # total interest charges per month
print('total monthly bank interest paid is: ', totMonthInt) 

expMonth = util + rent  # Addition of rent and utils
print('total monthly rent and util  paid is: ', expMonth) 

totMonthExp = totWage + totMonthInt + expMonth
print('total monthly expenditure  paid is: ', totMonthExp) 

totAnnualExp = totMonthExp * numMonths
print('total annual expenditure  paid is: ', totAnnualExp) 


# Computing Profits

monthProfit = tSalesM - totMonthExp  # Minus operation
print('total monthly profit is: ', monthProfit) 

annualProfit = annualRev - totAnnualExp
print('total annual profit is: ', annualProfit) 

# Computing Bonus Pay

if monthProfit  > tgtProft: # Compute Bonus only if the monthly profit is greater that tgtProft
    bonusPerEmp =   bonus / numEmps  # Bonus per employee
    print('bonus per employee  is: ', bonusPerEmp)
    bonusPerEmpNoR = bonus // numEmps  # Bonus per employee using the floor operator. this gives ONLY the whole number
    print('Whole number bonus per employee  is: ', bonusPerEmpNoR)
    
    # Computing the remainder
    bonusRemainder = bonus % numEmps
    print('remainder of the bonus after distribution  is: ', bonusRemainder)

total dollar revenue per month is:  262500
total annual dollar revenue is:  3150000
total monthly wages paid is:  6000
total monthly bank interest paid is:  13125.0
total monthly rent and util  paid is:  2750
total monthly expenditure  paid is:  21875.0
total annual expenditure  paid is:  262500.0
total monthly profit is:  240625.0
total annual profit is:  2887500.0
bonus per employee  is:  1666.6666666666667
Whole number bonus per employee  is:  1666
remainder of the bonus after distribution  is:  2

In [39]:
(bonusPerEmp-bonusPerEmpNoR)*3

2.0000000000002274

In [40]:
0.6666666666667*3

2.0000000000001004

In [ ]:
#  Conditional Statements

'''
Coinditional statements are the logic layer of our code that enables us
to have control over which code gets executed during runtime

It is usually denoted by the IF ststement



'''

In [32]:
# Patricia  is 27 years old. her younger brother,David is 25 yeas old. whos is older?

pAge = 27
dAge = 25

if pAge > dAge: # Condition to be tested. Can reesult into TRUE or FALSE
    print('the conditional statement resolved to: ',pAge > dAge, 'therefore, running the line in the IF block' )
    print('patricia is older than david')  # This indented line will be executed if the condition is TRUE
    print('I am happy that Patricia is the eldest ')
    
else:
    print('the conditional statement resolved to: ',pAge > dAge, 'therefore, running the line in the ELSE block' )
    print('Patricia is not older than David')

the conditional statement resolved to:  True therefore, running the line in the IF block
patricia is older than david
I am happy that Patricia is the eldest

In [30]:
pAge > dAge

False

In [43]:
'''amaka has 7 oranges and wants to share them to 3 of her friends. 
howmany orages will remain if each friend gets a full orange'''

7//3

2

In [ ]:
or   Or Operator
and AND Operator

in operator (membership)

In [ ]:
# the XOR operators are often used when we want to evaluate multiple conditions in an if ststement

# the OR operator will resolve to TRUE if ATLEAST one condition is TRUE
# The AND operator will ONLY resolve to TRUE if ALL conditions are TRUE

In [ ]:
A wealthy person is any one who has at least 10000 in their account, live in their own home and drive a luxury car

Chibuike has 10000 in his bank account. lives in a rented house and drives a BMW

Gbenga has 11000 in his bank account, lives in his own home and drives Mercedes Benz


write code to check if they are wealthy

In [44]:
wVal = 10000  # minimum to be considered wealthy
hasCar = True
ownsHome = True

cVal = 10000
cHasCar = True
cOwnsHome = False

gVal = 11000
gHasCar = True
gOwnsHome = True

# Testing for wealth

if cVal >= wVal and cHasCar == True and cOwnsHome == True:
    print('Chibuike is wealthy')
else:
    print('Chibuike is not wealthy')
    
if gVal >= wVal and gHasCar == True and gOwnsHome == True:
    print('Gbenga is wealthy')
else:
    print('Gbenga is not wealthy')

Chibuike is not wealthy
Gbenga is wealthy

In [45]:
# implemnenting using the OR operator

wVal = 10000  # minimum to be considered wealthy
hasCar = True
ownsHome = True

cVal = 10000
cHasCar = True
cOwnsHome = False

gVal = 11000
gHasCar = True
gOwnsHome = True

# Testing for wealth

if cVal >= wVal or cHasCar == True or cOwnsHome == True:
    print('Chibuike is wealthy')
else:
    print('Chibuike is not wealthy')
    
if gVal >= wVal or gHasCar == True or gOwnsHome == True:
    print('Gbenga is wealthy')
else:
    print('Gbenga is not wealthy')

Chibuike is wealthy
Gbenga is wealthy

In [ ]:
# in Operator

# used to check if a value or item is a member of some other items or values

In [48]:
name = 'Zulkarnain'


# check if kar is in the characters in the name


if 'm' in name:
    print('found')
else:
    print( 'doest not exist')

doest not exist

In [ ]:
Scenario: James operates a car dealership selling mid-income level cars to a student community. 
    He has 3 employees earning the same income
    Each day he sells 3 cars at an average price of 3500 per car.
His bank intererst charges is 5% of each sale. if there are 25 selling days in a month, 
compute his monthly income and annual income, given the following:

    Rent is 1500 per month
    wages is 2000 per employee
    utilities 1250 per month

If total monthly profit after all deduction is greater than 10,000, 
James would like distribute a bonus of 5000 to his staff such that each person gets a whole number value. 
Compute the remainder

In [ ]:
Patricia operates a grocery store selling several product categories as shown below.
1. Foods
2. Beverages
3. Toiletries
She estimates that the total sales each week for Foods is $3210. 
The daily workday sales of beverages are $520. On weekends (Saturdays and Sundays) 
the daily sales are double the weekday sale for this category.
The daily sales for toiletries are about 83% of the beverages and shows the same pattern for weekdays and weekends.
Patricia employe 5 persons as accounting and sales staff with a 1,500 monthly salary per staff. She is also considering paying herself a monthly salary of $2750.

Patricia's profit margin on Foods is 25.30%, on Beverages its 15.76% and on Toiletries its 35% lower than that of Beverages.
Costs associated with her Grocery store are monthly rent of 2100, monthly cost of logistics for purchase and restocking inventory is 5% of total monthly revenue from the store.
Tax is charged at 25.3% of profit. There is also a 5% VAT on Toiletries and Beverages that is already included in the selling price of products in these categories.
Patricia would like to disburse her profit after tax and all deductions into the following three account bucket such that investment in inventory gets a minimum of $ 20,000 per month;

1. 40% remitted to her investment account which yields 15% interest per annum
2. 30% held in a current account for domestic expenses
3. 30% invested back into inventory in the Grocery store

TASK
1. compute the total revenue and profits per category
2. compute the total tax and vat payable on each category
3. compute total store expenses on a monthly and annual basis
4. what percentage of profits is employee salary
5. If Patricia pays herself the proposed salary, by what percentage does profitability drop monthly
6. Compute the amount of money remitted into the three account buckets every month