In [1]:
# PYTHON DICTIONARIES

In [ ]:
# Scenario 1: We want to store information about student names in a class and their exam scores for chemistry

# Scenariuo 2: holding iventory of products in a store and their quantity or price

In [5]:
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]

In [ ]:
# Challenge:Given the name Aina, find his exam score

In [7]:
# Step 1: Find the index position of the name in the chemStuds list

idxPos = chemStuds.index('Aina')

print(idxPos)

# Step 2: get Aina's score from the chemScores list using the index position

score = chemScores[idxPos]

print(score)

2
95

In [ ]:
# Dictionaries


1. Dictioanries are a container type that hold items in pairs of Kes: Values
2. Dictionaries do not allow duplicate keys. There can be duplicate values  
3. Keys must immutable
4. Dictionaries are denoted by opening an d closing curly brace
5. Each KEY: VALUE pair must be separated from the next by a comma

In [ ]:
# SYNTAX of a dictionay


myDict = {KEY1:VALUE1, KEY2:VALUE2, KEY3:VALUE3,,,,,,,,KEYn:VALUEn}

In [ ]:
# Example of a dictionar

Tunde has thre bank accounts in ABC Bank. savings with 5900, current acct with 6000 and investmenta cct with 400

Put in a dictionary

In [9]:
tundeAcct = {'savings':5900, 'current':6000, 'investment':400}

In [ ]:
acctType = ['savings', 'current', 'investments']
bals = [5900, 6000, 400]

In [10]:
# How to get a vlue from a disctionary when we have the key


tundeAcct['current']

6000

In [11]:
bal = tundeAcct['current']

In [12]:
bal

6000

In [13]:
# Fetch all the keys in a dictionary


tundeAcct.keys()

dict_keys(['savings', 'current', 'investment'])

In [14]:
# Convert to a list

list(tundeAcct.keys())

['savings', 'current', 'investment']

In [15]:
# fetch all the values in a dictionry

tundeAcct.values()

dict_values([5900, 6000, 400])

In [16]:
# Convert to a list

list(tundeAcct.values())

[5900, 6000, 400]

In [17]:
# Add another type of account and balance to the dictionary

'FixedDep'

tundeAcct['FixedDep'] = 7600

In [18]:
tundeAcct

{'savings': 5900, 'current': 6000, 'investment': 400, 'FixedDep': 7600}

In [19]:


chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]

In [20]:
# For Loop Tutoria


# For loops enable us to go through the content of any container and fetch each item  to do something with

In [21]:

acctType = ['savings', 'current', 'investments']

for acct in acctType:
    print(acct)

savings
current
investments

In [22]:
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]


for name, score in zip(chemStuds,chemScores ):
    print(name, score)

Florence 87
Onyeagoro 89
Aina 95
Elizabeth 67
Okafor 90
Thelma 45
Blessing 35
Goodness 83

In [25]:
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]

n = 0
for name, score in zip(chemStuds,chemScores ):
    print('########################################')
    print('entering the containers')
    print('current index position being fetched is: ', n)
    
    print( "fetched ", name, score , ' at index position ', n)
    
    print(name, score)
    print('##########################################')
    n = n + 1

########################################
entering the containers
current index position being fetched is:  0
fetched  Florence 87  at index position  0
Florence 87
##########################################
########################################
entering the containers
current index position being fetched is:  1
fetched  Onyeagoro 89  at index position  1
Onyeagoro 89
##########################################
########################################
entering the containers
current index position being fetched is:  2
fetched  Aina 95  at index position  2
Aina 95
##########################################
########################################
entering the containers
current index position being fetched is:  3
fetched  Elizabeth 67  at index position  3
Elizabeth 67
##########################################
########################################
entering the containers
current index position being fetched is:  4
fetched  Okafor 90  at index position  4
Okafor 90
##########################################
########################################
entering the containers
current index position being fetched is:  5
fetched  Thelma 45  at index position  5
Thelma 45
##########################################
########################################
entering the containers
current index position being fetched is:  6
fetched  Blessing 35  at index position  6
Blessing 35
##########################################
########################################
entering the containers
current index position being fetched is:  7
fetched  Goodness 83  at index position  7
Goodness 83
##########################################

In [37]:
 # construct the dictionary
    
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]

# create empty dictionary

examDict = dict()

for name, score in zip(chemStuds,chemScores ):
    # print(name, score)
    print(name, score)
    examDict[name]  = score
    print(examDict)
    
    
#print(examDict)

Florence 87
{'Florence': 87}
Onyeagoro 89
{'Florence': 87, 'Onyeagoro': 89}
Aina 95
{'Florence': 87, 'Onyeagoro': 89, 'Aina': 95}
Elizabeth 67
{'Florence': 87, 'Onyeagoro': 89, 'Aina': 95, 'Elizabeth': 67}
Okafor 90
{'Florence': 87, 'Onyeagoro': 89, 'Aina': 95, 'Elizabeth': 67, 'Okafor': 90}
Thelma 45
{'Florence': 87, 'Onyeagoro': 89, 'Aina': 95, 'Elizabeth': 67, 'Okafor': 90, 'Thelma': 45}
Blessing 35
{'Florence': 87, 'Onyeagoro': 89, 'Aina': 95, 'Elizabeth': 67, 'Okafor': 90, 'Thelma': 45, 'Blessing': 35}
Goodness 83
{'Florence': 87, 'Onyeagoro': 89, 'Aina': 95, 'Elizabeth': 67, 'Okafor': 90, 'Thelma': 45, 'Blessing': 35, 'Goodness': 83}
Aina 50
{'Florence': 87, 'Onyeagoro': 89, 'Aina': 50, 'Elizabeth': 67, 'Okafor': 90, 'Thelma': 45, 'Blessing': 35, 'Goodness': 83}

In [28]:
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']

for name in chemStuds:
    print(name)

Florence
Onyeagoro
Aina
Elizabeth
Okafor
Thelma
Blessing
Goodness

In [ ]:
# NEVER use sets for Dictionary as below!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

 # construct the dictionary
    
chemStuds = { 'Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness'}
chemScores = { 87,89,95,67,90,45,35, 83}

# create empty dictionary

examDict = dict()

for name, score in zip(list(chemStuds),list(chemScores) ):
    # print(name, score)
    print(name, score)
    examDict[name]  = score
    print(examDict)
    
    
#print(examDict)

In [40]:
newDict = {'Florence': 87, 'Onyeagoro': 89, 'Aina': 50, 
           'Elizabeth': 67, 'Okafor': 90, 'Thelma': 45, 
           'Blessing': 35, 'Goodness': 83}

In [41]:
# unpack a dictionary to get each key and its corresponding value

for name, score in newDict.items():
    print(name, score)

Florence 87
Onyeagoro 89
Aina 50
Elizabeth 67
Okafor 90
Thelma 45
Blessing 35
Goodness 83

In [42]:
newDict.items()

dict_items([('Florence', 87), ('Onyeagoro', 89), ('Aina', 50), ('Elizabeth', 67), ('Okafor', 90), ('Thelma', 45), ('Blessing', 35), ('Goodness', 83)])

In [43]:
x , y = ('Florence', 87)

In [44]:
x

'Florence'

In [45]:
y

87

In [ ]:
# Python Functions

Functions are a specialized block of code that is designed to do one thing only

In [47]:
# Function Syntax

def currencyConverter(amt):
    value = amt * 11.97
    
    print(value)

In [48]:
currencyConverter(2000)

23940.0

In [ ]:
# things we should know about functions

1. functions can receieve valies as inputs or they also not be designed to recieve inputs

2. function can return a value to its caller or not
3. If a function returns a value, you must create a new variable to recieve the value when you call the function

In [49]:
# Function Syntax

def currencyConverter1(amt):
    value = amt * 11.97
    
    return value

In [51]:
res = currencyConverter1(2000)

In [52]:
print(res)

23940.0

In [ ]:
# Challenge:

#  tunde wants a function that will return the grade of sa student when the function given the exam score

In [53]:
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]

In [54]:

def scoreGrader(score, name, subject):
    
    if score >=90:
        grade = 'A'
    elif score >=80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    elif score >= 50:
        grade = 'E'
    else:
        grade = 'F'
    
    return name, subject, score, grade

In [58]:

score = 30
name = 'Akintola'
subject = 'Chem101'

res = scoreGrader(score, name, subject)
print(res)

('Akintola', 'Chem101', 30, 'F')

In [61]:
import pandas as pd

chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]
subj = 'Chem101'

resList = []
for name, score in zip(chemStuds, chemScores):
    res = scoreGrader(score, name, subj)
    resList.append(res)
resDF = pd.DataFrame(resList, columns =['name', 'subject', 'score', 'Grade'])

In [60]:
resList

[('Florence', 'Chem101', 87, 'B'),
 ('Onyeagoro', 'Chem101', 89, 'B'),
 ('Aina', 'Chem101', 95, 'A'),
 ('Elizabeth', 'Chem101', 67, 'D'),
 ('Okafor', 'Chem101', 90, 'A'),
 ('Thelma', 'Chem101', 45, 'F'),
 ('Blessing', 'Chem101', 35, 'F'),
 ('Goodness', 'Chem101', 83, 'B')]

In [62]:
resDF

        name  subject  score Grade
0   Florence  Chem101     87     B
1  Onyeagoro  Chem101     89     B
2       Aina  Chem101     95     A
3  Elizabeth  Chem101     67     D
4     Okafor  Chem101     90     A
5     Thelma  Chem101     45     F
6   Blessing  Chem101     35     F
7   Goodness  Chem101     83     B

In [63]:
resDF.to_csv('examRes.csv')

In [ ]:
# Creating a function from a simple script

 # construct the dictionary
    
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]

# create empty dictionary

examDict = dict()

for name, score in zip(chemStuds,chemScores ):
    # print(name, score)
    print(name, score)
    examDict[name]  = score
    print(examDict)
    
    
#print(examDict)

In [ ]:
# Function Purpose:
# it recieves two lists and converts them into a single dictionary

In [65]:


def dictGen(keyList, valList):
    
    examDict = dict()

    for name, score in zip(keyList,valList ):
        # print(name, score)
        #print(name, score)
        examDict[name]  = score
        #print(examDict)    
        
    return examDict

In [66]:
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]


res = dictGen(chemStuds, chemScores)

In [68]:
print(res)

{'Florence': 87, 'Onyeagoro': 89, 'Aina': 95, 'Elizabeth': 67, 'Okafor': 90, 'Thelma': 45, 'Blessing': 35, 'Goodness': 83}

In [69]:
prdts = ['tea', 'toothpast', 'milk', 'bread','coke']

invList = [56,43,  12,20,100]

In [70]:
res = dictGen(prdts, invList)
print(res)

{'tea': 56, 'toothpast': 43, 'milk': 12, 'bread': 20, 'coke': 100}

In [71]:
# How much toothpast is in inventory

res['toothpast']

43