In [4]:
x = 5
y = 7

j = x*y

In [5]:
print(j)

35

In [6]:
name = 'Nnenna'  #string

age = 27

In [7]:
print(age)

27

# Intro to Python

In [8]:
name = 'Timothy'
name2 = 'timothy'

In [9]:
name == name2

False

In [ ]:
# Variables
# Variable types
# Operators
# How to write comments

# Python Expressions

In [ ]:
Scenario1
# Timothy if my friend. He is 30 years old and earns $2000

In [ ]:
# TAssk: convert the scenario to code in python

In [12]:
name = "Timothy"
age = 30
income = 2000

In [13]:
name

'Timothy'

In [14]:
print(name)

Timothy

In [15]:
print(age)

30

In [19]:
print(Income)

NameError: name 'Income' is not defined

In [17]:
30 * 2000

60000

In [18]:
age * income

60000

In [22]:
name3  = 'Besi`'

In [23]:
print(name3)

Besi`

In [ ]:
# james is a teacher in St. Joseph College. 
#He teaches math, phy and chem. He is 45 years old and currently been teaching for 20 yesrs

Represent the information using variables

In [ ]:
teacherName = "james"
college = "St. Joseph"
subject1 = 'math'
subject2 = 'phy'
subject3 = 'chem'
teacherAge = 45
experience = 20

In [ ]:
# Rules for Creating variables

1. Keep the variable name short and meaningful. It should suggets the value it holds
2. Observe a consistent naming convention
- Camel case # the first word inthe name is all small case and the first letter of each succeding word is capitaliozed
- Snake case # all words in the name are small letters seperated by an underscore

3. Always assign values to a variable when craeted

In [ ]:
myname

In [ ]:
myName

In [ ]:
my_name

In [ ]:
tName = "james"
colge = "St. Joseph"
subj1 = 'math'
subj2 = 'phy'
subj3 = 'chem'
tAge = 45
expr = 20

In [ ]:
# Exercise:

Agatha is the second child in a household of 6 kids. She is the first daughter and attends the All Girls High School in her d
district. Every dy she comes to school with a lunchbox containing 10 toffies, 2 muffins, 3 oranges and 2 eggs.
She owes her friend Simi the sum of $15 and has promisted to settle it with 5 toffies,  a muffin and an egg.

represent these in code using only variables

In [ ]:
# Comments

# Single line commenets   STARTS WITH A #

# Multiple line comments   STARTS AND ENDS WITH """  """

In [ ]:
# EXAMPLE OF SINGLE LINE COMMENT

x  = 7
y = 9
# we next multiply the variables
j = x*y # computing the product of x and y

In [27]:
 # Example of mulple line comments

studAge = 30

grade = 'A-'

"""
Grades are computed usingt he following scale
A : 80 to 100
B:  70 to 80
C: 60 to 70
F: below 60
"""

studClass = 'SSS1'

grdMonth = 'July 2024'

In [28]:
text = """
Grades are computed usingt he following scale
A : 80 to 100
B:  70 to 80
C: 60 to 70
F: below 60
"""

In [29]:
print(text)

Grades are computed usingt he following scale
A : 80 to 100
B:  70 to 80
C: 60 to 70
F: below 60

In [ ]:
# Variable types

int
float
string
tuple
set
list
dictionary

In [30]:
# Numerics

age = 45

In [31]:
# check the variable type that age is

type(age)

int

In [32]:
income = 9876.98

In [33]:
type(income)

float

In [34]:
myName = 'Korede'

In [35]:
type(myName)

str

In [ ]:
# Type Casting

This allows us to convert one data type to another

In [37]:
income = 688.90
type(income)

float

In [38]:
# casting income to an integer

income2 = int(income)
type(income2)

int

In [39]:
income2

688

In [5]:
var = 'Nairobi'
print(type(var))
var = 78
print(type(var))

<class 'str'>
<class 'int'>

In [4]:
type(var)

int

In [40]:
# a number can be expressed as a string

height = "7.78"

In [41]:
type(height)

str

In [42]:
height2 = float(height)

In [43]:
height2

7.78

In [44]:
type(height2)

float

# Intro Example

## into Example

In [45]:
xname = 'Immaculate'

In [46]:
xname

'Immaculate'

In [47]:
xname = 'Francis'

In [48]:
xname

'Francis'

# Operators

In [ ]:
+   Addition
- subtraction
* multiplication
/ Division
> Greater Than
< Less than
>= Greater than or Equal To
<= Less than or Equal to

or   Or Operator
and AND Operator

== Equivalent Operator

% Modulus Operator
// Floor Operator

Boolean (True/False)

in operator (membership)

In [ ]:
Scenario: James operates a car dealership selling mid-income level cars to a student community. 
    He has 3 employees earning the same income
    Each day he sells 3 cars at an average price of 3500 per car.
His bank intererst charges is 5% of each sale. if there are 25 selling days in a month, 
compute his monthly income and annual income, given the following:

    Rent is 1500 per month
    wages is 2000 per employee
    utilities 1250 per month

If total monthly profit after all deduction is greater than 10,000, 
James would like distribute a bonus of 5000 to his staff such that each person gets a whole number value. 
Compute the remainder

In [10]:
numEmps = 3
salePrice = 3500
bankInt = 0.05
numDays = 25
numDSales = 3
rent = 1500
wages = 2000
util = 1250
tgtProft = 10000
bonus = 5000
numMonths = 12

#TASK
# 1. monthly income 
# 2. annual income
# 3. monthly Profit
# 4. Annual Profit
# 5. Bonus per employee
# 6. Remainder from Bonus distribution

In [7]:
45/2

22.5

In [41]:
# Compute Total costs per month

# Assumpotion: James sells 3 cars per day


# computing Sales

tSalesM = salePrice * numDSales * numDays # example of multiplication
print('total dollar revenue per month is: ', tSalesM)

# computing annual revenue
annualRev = tSalesM * numMonths # multiplication
print('total annual dollar revenue is: ', annualRev)

#compute  Expenses

totWage = numEmps * wages  # computing total monthly salries
print('total monthly wages paid is: ', totWage)

totMonthInt = tSalesM * bankInt # total interest charges per month
print('total monthly bank interest paid is: ', totMonthInt) 

expMonth = util + rent  # Addition of rent and utils
print('total monthly rent and util  paid is: ', expMonth) 

totMonthExp = totWage + totMonthInt + expMonth
print('total monthly expenditure  paid is: ', totMonthExp) 

totAnnualExp = totMonthExp * numMonths
print('total annual expenditure  paid is: ', totAnnualExp) 


# Computing Profits

monthProfit = tSalesM - totMonthExp  # Minus operation
print('total monthly profit is: ', monthProfit) 

annualProfit = annualRev - totAnnualExp
print('total annual profit is: ', annualProfit) 

# Computing Bonus Pay

if monthProfit  > tgtProft: # Compute Bonus only if the monthly profit is greater that tgtProft
    bonusPerEmp =   bonus / numEmps  # Bonus per employee
    print('bonus per employee  is: ', bonusPerEmp)
    bonusPerEmpNoR = bonus // numEmps  # Bonus per employee using the floor operator. this gives ONLY the whole number
    print('Whole number bonus per employee  is: ', bonusPerEmpNoR)
    
    # Computing the remainder
    bonusRemainder = bonus % numEmps
    print('remainder of the bonus after distribution  is: ', bonusRemainder)

total dollar revenue per month is:  262500
total annual dollar revenue is:  3150000
total monthly wages paid is:  6000
total monthly bank interest paid is:  13125.0
total monthly rent and util  paid is:  2750
total monthly expenditure  paid is:  21875.0
total annual expenditure  paid is:  262500.0
total monthly profit is:  240625.0
total annual profit is:  2887500.0
bonus per employee  is:  1666.6666666666667
Whole number bonus per employee  is:  1666
remainder of the bonus after distribution  is:  2

In [39]:
(bonusPerEmp-bonusPerEmpNoR)*3

2.0000000000002274

In [40]:
0.6666666666667*3

2.0000000000001004

In [ ]:
#  Conditional Statements

'''
Coinditional statements are the logic layer of our code that enables us
to have control over which code gets executed during runtime

It is usually denoted by the IF ststement



'''

In [32]:
# Patricia  is 27 years old. her younger brother,David is 25 yeas old. whos is older?

pAge = 27
dAge = 25

if pAge > dAge: # Condition to be tested. Can reesult into TRUE or FALSE
    print('the conditional statement resolved to: ',pAge > dAge, 'therefore, running the line in the IF block' )
    print('patricia is older than david')  # This indented line will be executed if the condition is TRUE
    print('I am happy that Patricia is the eldest ')
    
else:
    print('the conditional statement resolved to: ',pAge > dAge, 'therefore, running the line in the ELSE block' )
    print('Patricia is not older than David')

the conditional statement resolved to:  True therefore, running the line in the IF block
patricia is older than david
I am happy that Patricia is the eldest

In [30]:
pAge > dAge

False

In [43]:
'''amaka has 7 oranges and wants to share them to 3 of her friends. 
howmany orages will remain if each friend gets a full orange'''

7//3

2

In [ ]:
or   Or Operator
and AND Operator

in operator (membership)

In [ ]:
# the XOR operators are often used when we want to evaluate multiple conditions in an if ststement

# the OR operator will resolve to TRUE if ATLEAST one condition is TRUE
# The AND operator will ONLY resolve to TRUE if ALL conditions are TRUE

In [ ]:
A wealthy person is any one who has at least 10000 in their account, live in their own home and drive a luxury car

Chibuike has 10000 in his bank account. lives in a rented house and drives a BMW

Gbenga has 11000 in his bank account, lives in his own home and drives Mercedes Benz


write code to check if they are wealthy

In [44]:
wVal = 10000  # minimum to be considered wealthy
hasCar = True
ownsHome = True

cVal = 10000
cHasCar = True
cOwnsHome = False

gVal = 11000
gHasCar = True
gOwnsHome = True

# Testing for wealth

if cVal >= wVal and cHasCar == True and cOwnsHome == True:
    print('Chibuike is wealthy')
else:
    print('Chibuike is not wealthy')
    
if gVal >= wVal and gHasCar == True and gOwnsHome == True:
    print('Gbenga is wealthy')
else:
    print('Gbenga is not wealthy')

Chibuike is not wealthy
Gbenga is wealthy

In [45]:
# implemnenting using the OR operator

wVal = 10000  # minimum to be considered wealthy
hasCar = True
ownsHome = True

cVal = 10000
cHasCar = True
cOwnsHome = False

gVal = 11000
gHasCar = True
gOwnsHome = True

# Testing for wealth

if cVal >= wVal or cHasCar == True or cOwnsHome == True:
    print('Chibuike is wealthy')
else:
    print('Chibuike is not wealthy')
    
if gVal >= wVal or gHasCar == True or gOwnsHome == True:
    print('Gbenga is wealthy')
else:
    print('Gbenga is not wealthy')

Chibuike is wealthy
Gbenga is wealthy

In [ ]:
# in Operator

# used to check if a value or item is a member of some other items or values

In [48]:
name = 'Zulkarnain'


# check if kar is in the characters in the name


if 'm' in name:
    print('found')
else:
    print( 'doest not exist')

doest not exist

In [ ]:
Scenario: James operates a car dealership selling mid-income level cars to a student community. 
    He has 3 employees earning the same income
    Each day he sells 3 cars at an average price of 3500 per car.
His bank intererst charges is 5% of each sale. if there are 25 selling days in a month, 
compute his monthly income and annual income, given the following:

    Rent is 1500 per month
    wages is 2000 per employee
    utilities 1250 per month

If total monthly profit after all deduction is greater than 10,000, 
James would like distribute a bonus of 5000 to his staff such that each person gets a whole number value. 
Compute the remainder

In [ ]:
Patricia operates a grocery store selling several product categories as shown below.
1. Foods
2. Beverages
3. Toiletries
She estimates that the total sales each week for Foods is $3210. 
The daily workday sales of beverages are $520. On weekends (Saturdays and Sundays) 
the daily sales are double the weekday sale for this category.
The daily sales for toiletries are about 83% of the beverages and shows the same pattern for weekdays and weekends.
Patricia employe 5 persons as accounting and sales staff with a 1,500 monthly salary per staff. She is also considering paying herself a monthly salary of $2750.

Patricia's profit margin on Foods is 25.30%, on Beverages its 15.76% and on Toiletries its 35% lower than that of Beverages.
Costs associated with her Grocery store are monthly rent of 2100, monthly cost of logistics for purchase and restocking inventory is 5% of total monthly revenue from the store.
Tax is charged at 25.3% of profit. There is also a 5% VAT on Toiletries and Beverages that is already included in the selling price of products in these categories.
Patricia would like to disburse her profit after tax and all deductions into the following three account bucket such that investment in inventory gets a minimum of $ 20,000 per month;

1. 40% remitted to her investment account which yields 15% interest per annum
2. 30% held in a current account for domestic expenses
3. 30% invested back into inventory in the Grocery store

TASK
1. compute the total revenue and profits per category
2. compute the total tax and vat payable on each category
3. compute total store expenses on a monthly and annual basis
4. what percentage of profits is employee salary
5. If Patricia pays herself the proposed salary, by what percentage does profitability drop monthly
6. Compute the amount of money remitted into the three account buckets every month

# Python Strings

In [ ]:
Any value or object that does not resolve to a number is a string:
    names of people, places, things
    text

In [ ]:
Scenario: James is a teacher at Jerome's High School. the followingt are students in his class
    
    Agatha Christie, Chukwuma Sylvester, Abiodun Olafenwa and Sheyi Oladayo. 
    their student IDs are 00012, 33412, 443513, 78998
    
    Task: 
        1. Create a string concatenating (joining) the firstname, lastname and ID  seperated by underscore (_)
        2. write code to extract only first names, only lastnames, only IDs
        3. Find the statting index position of the lastnames for each string

# 101 on Strings

In [19]:


#Strings are any values that are represented inbetween quotation marks

studName1 = 'Moses_Ofem'
studName2 = "Temitope Gbenga"
studName3 = """Onovo Obianuju"""

In [18]:
type(studName3)

str

In [ ]:
# Using studName1 as our examle

1. each character in a string is assigned an index position 
2. the index numbers start from 0 for the first character in the string and increments by 1 to the last character
3. Python strings are IMMUTABLE

In [ ]:
studName1 = 'Moses_Ofem'
             0123456789

In [ ]:
#get the character or value at a given index position of a string

#SYNTAX
VariableName[index]

In [25]:
studName1[5]# code to findd the character located at a given index position in a string

'_'

In [ ]:
# How to find out if a given character or value is in a string

#Scenario: find out if 'f' is contained in Moses Ofems's  name
    
 #SYNTAX

NameOfVariable.index(characterToFind)

In [28]:
studName1.index('f')  # code to find the index position of a given charactyer in a string

7

In [29]:
# Challenge: find the index position of '_' in StudName1

studName1.index('_')

5

In [30]:
studName1[5]

'_'

In [31]:
# using a for-loop to printout each character

for char in studName1:
    print(char)

M
o
s
e
s
_
O
f
e
m

In [32]:
# String Indexing: we can index backwards using -1, -2,...-n

studName1

'Moses_Ofem'

In [38]:
studName1[-3]

'f'

In [ ]:
# String Slicing

This allows us to extract a sequence of charaters from a string using a starting and ending index posiion

In [ ]:
studName1 = 'Moses_Ofem'

# extract 'Moses' from the string

SYNTAX

VariableName[indexPosOfStartingChar: indexPosOfEndingChar+1]

In [39]:
firstName = studName1[0:4]
print(firstName)

Mose

In [40]:
firstName = studName1[0:5]
print(firstName)

Moses

In [41]:
country = 'Ethiopia'

In [54]:
# extracting 'hiop'
country[2:5+1]

'hiop'

In [48]:
# extyracting 'Moses' from studName1
fName = studName1[ :5]
fName

'Moses'

In [52]:
# extract 'Ofem'

lName = studName[6:]
lName

'Ofem'

In [53]:
fullName = studName1[ : ]
fullName

'Moses_Ofem'

In [57]:
# find out if 'Ofem' is in studName1

'Ofem' in studName1

False

In [58]:
studName1.index('Ofem')

6

In [62]:
charLen = len('Ofem') # Gives the length or number of characters including whites spaces in a string
pos = studName1.index('Ofem') # Starting index position of a substring
idxPos = [pos, (charLen+pos)]: # gives starting and ending index of the substring
idxPos

[6, 10]

In [64]:
pos = studName1.index('Ofem') # Starting index position of a substring
strtPos, endPos  = [pos, (charLen+pos)] # gives starting and ending index of the substring
res = studName1[strtPos:endPos]
print(res)

Ofem

In [67]:
# Python String Concatenation

In [69]:
firstName = 'Jalo'
lastName = 'Kanan'

# python allows additive operation on strings

firstName + lastName

'JaloKanan'

In [70]:
# adding a white space

firstName + ' ' + lastName

'Jalo Kanan'

In [71]:
# using underscore

firstName + '_' + lastName

'Jalo_Kanan'

In [72]:
name = 'Rofiah'

In [73]:
name.add('b')

AttributeError: 'str' object has no attribute 'add'

In [74]:
name = name + 'b'

In [75]:
name

'Rofiahb'

In [76]:
# adding title to the string

title = 'Mr.'
title + " " + firstName + '_' + lastName

'Mr. Jalo_Kanan'

In [79]:
# searching for words in a text

vWords = ['idiot','fool', 'crazy', 'niggar', 'bastard', 'stupid','bitch', 'morron', 'imbecile', 'nonesense']

In [80]:
text = """  Contrary to popular belief, niggar Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going crazy through the cites of fool  the word in classical idiot literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book imbecile is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,nonsense  "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is a bastard reproduced below for those stupid interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham."""

In [84]:
# How to search for anything in a text


for vWord in vWords:
    print('current vulgar word searching for is ,',  vWord)
    if vWord in text:
        print('checking the index position of', vWord)
        idxPos = text.index(vWord)
        print('index postion is for ',vWord, 'is ' , idxPos)
        print(f"{vWord} found in text at index position {idxPos}") # string formating

current vulgar word searching for is , idiot
checking the index position of idiot
index postion is for  idiot is  403
idiot found in text at index position 403
current vulgar word searching for is , fool
checking the index position of fool
index postion is for  fool is  375
fool found in text at index position 375
current vulgar word searching for is , crazy
checking the index position of crazy
index postion is for  crazy is  348
crazy found in text at index position 348
current vulgar word searching for is , niggar
checking the index position of niggar
index postion is for  niggar is  30
niggar found in text at index position 30
current vulgar word searching for is , bastard
checking the index position of bastard
index postion is for  bastard is  870
bastard found in text at index position 870
current vulgar word searching for is , stupid
checking the index position of stupid
index postion is for  stupid is  905
stupid found in text at index position 905
current vulgar word searching for is , bitch
current vulgar word searching for is , morron
current vulgar word searching for is , imbecile
checking the index position of imbecile
index postion is for  imbecile is  614
imbecile found in text at index position 614
current vulgar word searching for is , nonesense

In [ ]:
# Exercise:

Scenario: James is a teacher at Jerome's High School. the followingt are students in his class
    
    Agatha Christie, Chukwuma Sylvester, Abiodun Olafenwa and Sheyi Oladayo. 
    their student IDs are 00012, 33412, 443513, 78998
    
    Task: 
        1. Create a string concatenating (joining) the firstname, lastname and ID  seperated by underscore (_)
        2. write code to extract only first names, only lastnames, only IDs
        3. Find the statting index position of the lastnames for each string

In [ ]:
# Next Class

Python Containers
Tuples
Lists
Sets
Dictionaries

In [ ]:
#Tuples

In [ ]:
jamesAge = 35

stud1Name = 'James'

In [ ]:
# pyhton containers allow us to hold reference to multiple items ot objects each sperated by a comma

Example: Emanuel wants to hold the names of the 5 students in his class

In [1]:
# Using variable

studName1 = 'James'
studName2 = 'Mercy'
studName3 = 'Chibuike'
studName4 = 'Aiysha'
studName5 = 'Femi'

In [2]:
# Reimplementing using Tuples

studName = ('James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi')

In [3]:
print(studName1)

James

In [4]:
studName[0]

'James'

In [5]:
# fetch Mercy

studName[1]

'Mercy'

In [6]:
# What is a Tuple:  

# Tuples are denoted by an opening and closing brace
# These are containers that are IMMUTABLE
# Tuples are able to hold multiple items seprated by a comma
# each item in a tuple is assigned an index position
# Index positions start from ZERO for the first item and increments by 1
# To fetch an item from a tuple; write the name of the tuple followed by a SQUARE bracket. 
#In the bracket insert the index position of the item you want to fetch

studName.add('Clement')

AttributeError: 'tuple' object has no attribute 'add'

In [ ]:
# How to check if an item is a member of a container (Tuple)

In [ ]:
# Python provides a function called .index()

In [7]:
studName.index('Femi')

4

In [25]:
def itemSearch(item, container):
    
    if item in container:
        if container.index(item) >= 0:
            print(item, ' Found at index positin: ', container.index(item))
        else:
            print('item is in contyainer but its index is not reachable')
    else:
        print(item, 'not a member of the specifed container')

In [26]:
container = ('James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi')
stud = 'James'

itemSearch(stud, container)

James  Found at index positin:  0

In [ ]:
# Python LISTS

In [ ]:
# What is a LIST:  

# Lists are denoted by opening and cloing SQUARE brackets
# These are containers that are MUTABLE
# Lists are able to hold multiple items seprated by a comma
# each item in a List is assigned an index position
# Index positions start from ZERO for the first item and increments by 1
# To fetch an item from a List; write the name of the List followed by a SQUARE bracket. 
#In the bracket insert the index position of the item you want to fetch

In [27]:
# Example of a list

studList = ['James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi']

In [28]:
type(studList)

list

In [29]:
type(container)

tuple

In [30]:
# Fetch the item at index position 3

studList[3]

'Aiysha'

In [31]:
# Find the location (index position) of Aiysha in the list

studList.index('Aiysha')

3

In [ ]:
# List Functions

In [32]:
# .append()

# Add a stiudent to studList

name = 'Evee'

# adding Evee tot he list

studList.append(name)

In [33]:
studList

['James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi', 'Evee']

In [ ]:
# .append() will ALWAYS add the given item after the last index position of the list

In [ ]:
# .insert()  used to add an item into a specific index position of a list

In [39]:
# insert  Rofiah into the index position 2

name = 'Rofiah'
studList.insert(2, name)

In [37]:
studList

['James', 'Mercy', 'Agatha', 'Rofiah', 'Chibuike', 'Aiysha', 'Femi', 'Evee']

In [40]:
studList.insert(4, 10)

In [42]:
print(studList)

['James', 'Mercy', 'Rofiah', 'Agatha', 10, 'Rofiah', 'Chibuike', 'Aiysha', 'Femi', 'Evee']

In [44]:
list2 = ['Gabriel', 'Olubaju', 'Toluwani', 'Archibong']
studList = ['James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi']

In [46]:
#Task: combine studList with list2

studList.append(list2)

In [48]:
print(studList)

['James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi', ['Gabriel', 'Olubaju', 'Toluwani', 'Archibong']]

In [49]:
studList.insert(2,list2)

In [50]:
studList

['James',
 'Mercy',
 ['Gabriel', 'Olubaju', 'Toluwani', 'Archibong'],
 'Chibuike',
 'Aiysha',
 'Femi',
 ['Gabriel', 'Olubaju', 'Toluwani', 'Archibong']]

In [51]:
# .extend()


list2 = ['Gabriel', 'Olubaju', 'Toluwani', 'Archibong']
studList = ['James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi']

studList.extend(list2)
print(studList)

['James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi', 'Gabriel', 'Olubaju', 'Toluwani', 'Archibong']

In [52]:
studList.pop()  # Remove the last item in a list

'Archibong'

In [54]:
print(studList)

['James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi', 'Gabriel', 'Olubaju', 'Toluwani']

In [55]:
studList.remove('Chibuike')

In [56]:
print(studList)

['James', 'Mercy', 'Aiysha', 'Femi', 'Gabriel', 'Olubaju', 'Toluwani']

In [57]:
tgtList = ['James', 'Mercy', 'Femi']

for name in tgtList:
    studList.remove(name)

In [58]:
studList

['Aiysha', 'Gabriel', 'Olubaju', 'Toluwani']

In [59]:
lista = list2 + studList

['Gabriel',
 'Olubaju',
 'Toluwani',
 'Archibong',
 'Aiysha',
 'Gabriel',
 'Olubaju',
 'Toluwani']

In [ ]:
# List Slicing

# fetch a subset of items from a list; you need the index position of the first item in the subset 
#and the index position of the last item in the subset

In [60]:

list2 = ['Gabriel', 'Olubaju', 'Toluwani', 'Archibong']
studList = ['James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi']

In [63]:
# fetch 'Mercy', 'Chibuike', 'Aiysha' from studList

list3 = studList[1:4]

In [64]:
print(list3)

['Mercy', 'Chibuike', 'Aiysha']

In [65]:
# check the size or length of a list

# len()

len(studList)

5

In [67]:
#### Adding up lists


list4 = ['Agatha', 88, 96, 'Ngond']

list5 = ['Terngu', 'Fabian', 'Victoria']

In [68]:
list4.extend(list5)

In [69]:
print(list4)

['Agatha', 88, 96, 'Ngond', 'Terngu', 'Fabian', 'Victoria']

In [70]:
print(list5)

['Terngu', 'Fabian', 'Victoria']

In [77]:

list4 = ['Agatha', 88, 96, 'Ngond']

list5 = ['Terngu', 'Fabian', 'Victoria']


res = list4 + list5

In [73]:
print(list4)

['Agatha', 88, 96, 'Ngond']

In [74]:
print(list5)

['Terngu', 'Fabian', 'Victoria']

In [78]:
print(res)

['Agatha', 88, 96, 'Ngond', 'Terngu', 'Fabian', 'Victoria']

In [ ]:
# Python Sets

# Sets are denoted by opening and closing CURLY brackets
# Sets DO NOT allow duplicate items in their container
# These are containers that are MUTABLE
# Sets are able to hold multiple items seprated by a comma
# each item in a Set is NOT assigned an index position
# Items in a set are UNORDERED

In [79]:
# create an empty set

mySet = set()

In [80]:
type(mySet)

set

In [81]:
set2 = {'Gabriel', 'Olubaju', 'Toluwani', 'Archibong', 'James', 'Agatha', 'Malik'}
studSet = {'James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi', 'Henry', 'Olubaju'}

In [82]:
type(studSet)

set

In [83]:
studSet[1] # We cannot index through a set like we do with Lists and Tuples

TypeError: 'set' object is not subscriptable

In [84]:
# Set Functions

In [85]:
set2 = {'Gabriel', 'Olubaju', 'Toluwani', 'Archibong', 'James', 'Agatha', 'Malik'}
studSet = {'James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi', 'Henry', 'Olubaju'}

In [87]:
#.intersection() # Finds items common to multiple sets
studSet.intersection(set2)

{'James', 'Olubaju'}

In [ ]:
set2 = {'Gabriel', 'Olubaju', 'Toluwani', 'Archibong', 'James', 'Agatha', 'Malik'}
studSet = {'James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi', 'Henry', 'Olubaju'}

In [88]:
#.difference()

x1 = studSet.difference(set2) # gives only the items in studSet that are not found in set2
x2 = set2.difference(studSet) # gives items in set2 that are not in studSet

In [89]:
print(x1)

{'Aiysha', 'Chibuike', 'Mercy', 'Henry', 'Femi'}

In [90]:
print(x2)

{'Malik', 'Agatha', 'Toluwani', 'Gabriel', 'Archibong'}

In [ ]:
set2 = {'Gabriel', 'Olubaju', 'Toluwani', 'Archibong', 'James', 'Agatha', 'Malik'}
studSet = {'James', 'Mercy', 'Chibuike', 'Aiysha', 'Femi', 'Henry', 'Olubaju'}

In [92]:
# .union()

x4 = studSet.union(set2) # merge the contents of the sets while removing any duplicates 

print(x4)

{'James', 'Malik', 'Aiysha', 'Agatha', 'Chibuike', 'Toluwani', 'Mercy', 'Henry', 'Olubaju', 'Gabriel', 'Archibong', 'Femi'}