In [1]:
# this fuction will convert from dolar to Ghana cedes the amt represent us currency while the 11.97 is exchange rate in Ghana Cedes

def fx(amt):
    val = amt * 11.97
    
    print(val)
    
fx(2000)

23940.0

In [2]:
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]

In [6]:
# function with return key word must assign a variable so that it can be reusable.
# the function below return a grade of a students with their corresponding grade.

def stud_grade(name, subj, score):
    
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    elif score >= 50:
        grade = 'E'
    else:
        grade = 'F'
        
    return name, subj, score, grade

In [14]:
# due to return statement the stud_grade function will be into a variable result

name = input("what is the student name? ")
subj = input("registered subject ")
score = int(input("what is the score of the subject? "))


result = stud_grade(name, subj, score)
print()
print(result)

what is the student name? adamu labaran
registered subject chm512
what is the score of the subject? 89

('adamu labaran', 'chm512', 89, 'B')

('adamu', 'chm512', 77, 'C')

In [15]:
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]
subj = "CHM101"

# using for loop to unpack chemStuds and chmScores into a result_list
result_list = []
for name, score in zip(chemStuds, chemScores):
    result = stud_grade(name, subj, score)  # using stud_grade function to recieve what was stored from for loop as an argument
    result_list.append(result) # appending result to result list to print the ire output
    

    
print(result_list)

In [16]:
print(result_list)

[('Florence', 'CHM101', 87, 'B'), ('Onyeagoro', 'CHM101', 89, 'B'), ('Aina', 'CHM101', 95, 'A'), ('Elizabeth', 'CHM101', 67, 'D'), ('Okafor', 'CHM101', 90, 'A'), ('Thelma', 'CHM101', 45, 'F'), ('Blessing', 'CHM101', 35, 'F'), ('Goodness', 'CHM101', 83, 'B')]

In [17]:
# using data frame to organise the result
import pandas as pd

chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]
subj = "CHM101"

# using for loop to unpack chemStuds and chmScores into a result_list
result_list = []
for name, score in zip(chemStuds, chemScores):
    result = stud_grade(name, subj, score)  # using stud_grade function to recieve what was stored from for loop as an argument
    result_list.append(result) # appending result to result list to print the ire output
    
# using datta frame to manipulate the result
resultDF = pd.DataFrame(result_list, columns = ['name', 'subject', 'score', 'grade'])
    
print(resultDF)

        name subject  score grade
0   Florence  CHM101     87     B
1  Onyeagoro  CHM101     89     B
2       Aina  CHM101     95     A
3  Elizabeth  CHM101     67     D
4     Okafor  CHM101     90     A
5     Thelma  CHM101     45     F
6   Blessing  CHM101     35     F
7   Goodness  CHM101     83     B

In [25]:
# saving the output in a csv file
result_csv = "C:\\Users\\LENOVO YOGA 11E\\Documents\\projects\\workspace\\onecampusenv\\onecampus24\\result.csv"
result_csv = "C:\\Users\\LENOVO YOGA 11E\\Documents\\projects\\testing_my_codes\\scv\\result.csv"
resultDF.to_csv(result_csv)

In [4]:
dob = [2012, 2014, 2009, 2010, 2015, 2016, 2013]
yr = 2023

for age in dob:
    age = yr - age
    print(age)

11
9
14
13
8
7
10

In [6]:
def tec_kid_age(name, birth_yr, age):
    return name, birth_yr, age

In [8]:
my_studs = ['jawad', 'hajara', 'murjanatu', 'bello', 'suleiman', 'nana', 'khadija']
dob = [2012, 2014, 2009, 2010, 2015, 2016, 2013]
yr = 2023
    
stu_list = []
for name, birth_yr in zip(my_studs, dob):
    
    age = yr - birth_yr
    mystud = tec_kid_age(name, birth_yr, age)
    stu_list.append(mystud)    


  
stu_list

[('jawad', 2012, 11),
 ('hajara', 2014, 9),
 ('murjanatu', 2009, 14),
 ('bello', 2010, 13),
 ('suleiman', 2015, 8),
 ('nana', 2016, 7),
 ('khadija', 2013, 10)]

In [ ]:
resDF = pd.DataFrame(resList, columns =['name', 'subject', 'score', 'Grade'])

In [9]:
import pandas as pd
# computing my stu_list using pandas and data frame

stu_listDF = pd.DataFrame(stu_list, columns = ['Name', 'Date of Birth', 'Age'])
stu_listDF

        Name  Date of Birth  Age
0      jawad           2012   11
1     hajara           2014    9
2  murjanatu           2009   14
3      bello           2010   13
4   suleiman           2015    8
5       nana           2016    7
6    khadija           2013   10

In [10]:
# saving stu_listDF as csv file
stu_listDF.to_csv("my_students.csv")

In [ ]:
# Creating a function from a simple script

 # construct the dictionary
    
chemStuds = ['Florence', 'Onyeagoro','Aina','Elizabeth','Okafor', 'Thelma', 'Blessing', 'Goodness']
chemScores = [87,89,95,67,90,45,35, 83]

# create empty dictionary

examDict = dict()

In [13]:
def greet():
    print("hello Adams Labaran")
    
greet()

hello Adams Labaran

In [14]:
def greet_user(username):
 """Display a simple greeting."""
 print("Hello, " + username.title() + "!")
 
greet_user('jesse')

Hello, Jesse!

In [15]:
greet_user('Adams Labaran')

Hello, Adams Labaran!

In [19]:
# parameter, a piece of information the function needs to do its job.

# An argument is a piece of information that is passed from a function call to a function.

# Positional Arguments When you call a function, Python must match each argument in the function call with a parameter in the function definition.

def describe_pet(animal_type, pet_name):
 """Display information about a pet."""
 print("\nI have a " + animal_type + ".")
 print("My " + animal_type + "'s name is " + pet_name.title() + ".")
 
describe_pet('hamster', 'harry')

# Multiple Function Calls
describe_pet('cat', 'yesmi')

describe_pet('Dog', 'Dan ladi')


describe_pet('dog', 'willie')

I have a hamster.
My hamster's name is Harry.

I have a cat.
My cat's name is Yesmi.

I have a Dog.
My Dog's name is Dan Ladi.

I have a dog.
My dog's name is Willie.